/* ==UserStyle==
@name           Antique White Play Books
@namespace      https://github.com/ewigl/playbooks-enhanced
@homepageURL    https://github.com/ewigl/playbooks-enhanced
@version        1.0.1
@description    Antique white color for Play Books' light theme reader.
@author         Licht
==/UserStyle== */

@-moz-document url-prefix("https://books.googleusercontent.com/books/reader/frame")
{
  reader-app-bar[role="navigation"] {
    background: transparent;
  }
  .mat-app-background {
    background: antiquewhite;
  }
  .gb-page-shadow-main {
    display: none;
  }
  /*     .mat-app-background.-gb-dark {} */
}
